  <footer class="footer mt-4">
            <div class="container bg-light ">
                <h1 class="text p-3 ">Chef Recipes</h1>
                <h4 class="fs-4 fw-lighter text-center "> Get the Freshest Recipes News</h4>
                <form class="d-flex justify-content-center p-3">
                    <div class="input-group px-4 mx-5 w-50 m-3   h-25">
                      <input type="text" class="form-control p-3" placeholder="Your Email Here" aria-label="Recipient's username" aria-describedby="basic-addon2">
                      <span class="input-group-text" id="basic-addon2">@gmail.com</span>
                        <button class="btn btn-outline-warning"> Subscribe </button>
                    </div>
                </form>
                <div class="row justify-content-center">
                    <div class="col-auto">
                        <p>© Copyright 2023 Chef Recipes . All rights reserved</p>
                    </div>
                </div>
            </div>
  </footer>